{% extends 'layouts/base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block content %}
    <div class="mb-4">
        <form class="col-md-6 offset-md-3" method="post">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal text-center">Connexion à mon compte</h1>
            <hr />
            <label for="inputEmail">Adresse e-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Merci de saisir votre adresse e-mail." class="form-control" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" placeholder="Merci de saisir votre mot de passe." class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <br />

            <button class="btn btn-block btn-primary" type="submit">
                Se connecter
            </button>
            <hr />
            <p class="text-center"><a href="{{ path('app_login') }}">Mot de passe oublié</a> ?</p>
            <p class="text-center">Ou souhaitez-vous <a href="{{ path('app_register') }}">créer un compte</a> ?</p>
        </form>
    </div>
{% endblock %}
