{% extends 'layouts/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                Dernière publication
            </h3>

            {% if lastPost %}
                <div class="blog-post">
                    <img src="/uploads/posts/{{ lastPost[0].image }}" alt="{{ lastPost[0].name }}" width="100%" height="100%">
                    <h2 class="blog-post-title">{{ lastPost[0].name }}</h2>
                    <p class="blog-post-meta">Publié le {{ lastPost[0].createdAt|date('d/m/Y') }} dans {{ lastPost[0].category.name }}</p>

                    {{ lastPost[0].content|raw }}
                </div><!-- /.blog-post -->
            {% else %}
                <p class="text-muted lead">Aucun article n'a été publié.</p>
            {% endif %}

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">About</h4>
                <p class="mb-0">Saw you downtown singing the Blues. Watch you circle the drain. Why don't you let me stop by? Heavy is the head that <em>wears the crown</em>. Yes, we make angels cry, raining down on earth from up above.</p>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->
{% endblock %}
