{% extends 'layouts/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                Dernière publication
            </h3>

            {% if lastPost %}
                <div class="blog-post">
                    <img src="/uploads/posts/{{ lastPost[0].image }}" alt="{{ lastPost[0].name }}" width="100%" height="100%">
                    <h2 class="blog-post-title">{{ lastPost[0].name }}</h2>
                    <p class="blog-post-meta font-italic">Publié le {{ lastPost[0].createdAt|date('d/m/Y') }} dans {{ lastPost[0].category.name }} |
                        <a href="{{ path('app_post_details', {slug: lastPost[0].slug}) }}">Voir l'article</a></p>

                    {{ lastPost[0].content|markdown_to_html }}
                </div><!-- /.blog-post -->
            {% else %}
                <p class="text-muted font-italic">Aucun article n'a été publié.</p>
            {% endif %}

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic"></h4>
                <form method="get" action="">
                    <div class="input-group">
                        <input type="text" name="q" id="q" placeholder="Rechercher..." class="form-control" />
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="p-4">
                <h4 class="font-italic">A propos de nous</h4>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid delectus distinctio est, fugit sed voluptatem!</p>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Nos réseaux sociaux</h4>
                <ol class="list-unstyled">
                    <li>
                        <a href="https://github.com/" target="_blank">GitHub</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/" target="_blank">Linkedin</a>
                    </li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->
{% endblock %}
